body {
    background-color: aquamarine;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: blue;
}

p {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: brown;
}